---
const date = new Date();
const formattedDate = date.toDateString() + ' ' + date.toTimeString();
---

<html>
  <body>
    <h1>Hello World</h1>
    <p>Current date: {formattedDate}</p>
  </body>
</html>