---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Time";

const date = new Date();
const formattedDate = date.toDateString() + ' ' + date.toTimeString();
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Hello World</h2>
  <p>Current date: {formattedDate}</p>
</BaseLayout>